nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #333333;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }